name: VK Parser CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: '0 12 * * *'  # Запускать каждый день в 12:00 по UTC (15:00 по Москве)

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:

      - name: Install Poetry
        run: pip install poetry

      - name: Install dependencies
        run: poetry install --no-root

        env:
          ACCESS_TOKEN_1: ${{ secrets.ACCESS_TOKEN_1 }}
          ACCESS_TOKEN_2: ${{ secrets.ACCESS_TOKEN_2 }}
          ACCESS_TOKEN_3: ${{ secrets.ACCESS_TOKEN_3 }}
